<!doctype html>
<html>
<head>
    <style>
        body{
            font-family: Arial,Sans-Serif;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <!-- minified for production -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/1.0.0-beta.1/ng-google-chart.min.js" type="text/javascript"></script>
    <script>
        var app = angular.module('myApp', ['googlechart']);
        app.controller('myCtrl', function ($scope, $http, $interval) {
            var scope = $scope;
            var http = $http;
            if(window.localStorage.angular){
                scope.localStorage = JSON.parse(window.localStorage.angular);
            }else{
                scope.localStorage = {};
                window.localStorage.angular = '{"portfolio":[{"date":"Fri Mar 13 2019 00:00:00 GMT+0700 (Indochina Time)","icon":"VJC","price_buyAt":119400,"calculateExpectedInterested":"1.01741351","calculateDiffInDaysHuman":"21.18643884","calculateActualInterested":121500},{"date":"Fri Mar 22 2019 00:00:00 GMT+0700 (Indochina Time)","icon":"DXG","price_buyAt":228000,"calculateExpectedInterested":"1.01001625","calculateDiffInDaysHuman":"12.18643884","calculateActualInterested":230300}],"expected_interested":30}';
            }
            scope.localStorage.expected_interested = scope.localStorage.expected_interested || 30;
            scope.$watch('localStorage', function (newVal, oldVal) {
                window.localStorage.angular = JSON.stringify(angular.copy(newVal));
            }, true);
            $interval(function () {
                if(typeof scope.localStorage.portfolio !== 'object' || !scope.localStorage.portfolio) {
                    scope.localStorage.portfolio = [];
                }
                scope.localStorage.portfolio = scope.localStorage.portfolio
                    .map(function (portfolio_item) {
                        portfolio_item.calculateExpectedInterested = scope.calculateExpectedInterested(portfolio_item);
                        portfolio_item.calculateDiffInDaysHuman = scope.calculateDiffInDaysHuman(portfolio_item);
                        portfolio_item.calculateActualInterested = scope.calculateActualInterested(portfolio_item);
                        return portfolio_item;
                    });
            }, 1e3);
            scope.addToPortfolio = function () {
                if(typeof scope.localStorage.portfolio !=='object' || typeof scope.localStorage.portfolio.push !== 'function') {
                    scope.localStorage.portfolio = [];
                }
                scope.localStorage.portfolio.push({
                    date: scope.new_portfolio_item_date.toString(),
                    icon: scope.new_portfolio_item_icon,
                    price_buyAt: scope.new_portfolio_item_price,
                });
            };
            scope.calculateDiffInDaysHuman = function (portfolio_item) {
                var forDays = new Date(portfolio_item.date);
                var diffInDays = (Date.now() - forDays) / 86400000;
                return diffInDays.toFixed(8);
            };
            scope.calculateExpectedInterested = function(portfolio_item){
                var diffInDaysHuman = scope.calculateDiffInDaysHuman(portfolio_item);
                var expectedInterested = ((scope.localStorage.expected_interested / 365) * (diffInDaysHuman + 6) + 100) / 100;
                return expectedInterested.toFixed(8);
            };
            scope.calculateActualInterested = function (portfolio_item) {
                var expectedInterestAfterDays = scope.calculateExpectedInterested(portfolio_item);
                var expectedSoldAt = expectedInterestAfterDays * portfolio_item.price_buyAt;
                return Math.round(expectedSoldAt / 100) * 100;
            };


            scope.iconChartObjects = [
                {
                    "icon": "VIC",
                },
                {
                    "icon": "VJC",
                },
            ];
            var returnIconChartObjects = function (iconChartObject, iconChartObjectRef, forDays, buyAt) {
                var nowEpoch = Math.round(Date.now().valueOf()/1000);
                var from;
                buyAt = buyAt || null;
                forDays = forDays || null;
                if(forDays === null){
                    from = 1519000000;
                }else{
                    from = (nowEpoch - forDays * 86400);
                }
                http
                    .get('https://api.vietstock.vn/ta/history?symbol='+iconChartObject.icon+'&resolution=&from=' + from + '&to=' + nowEpoch + '&date=').then(function (respData) {
                    var baseline = (forDays>70)?0:null;
                    angular.extend(iconChartObjectRef, {
                            "type": "LineChart",
                            "displayed": false,
                            "data": {
                                "cols": [
                                    {
                                        "id": "month",
                                        "label": "Month",
                                        "type": "string",
                                        "p": {}
                                    },
                                    {
                                        "id": "price",
                                        "label": "Price",
                                        "type": "number"
                                    }
                                ],
                                "rows": [],
                            },
                            "options": {
                                "title": iconChartObject.icon.toUpperCase(),
                                "isStacked": "true",
                                "fill": 20,
                                "displayExactValues": true,
                                "vAxis": {
                                    "title": "Price",
                                    // "gridlines": {
                                    //     "count": 10
                                    // }
                                    "minValue": buyAt,
                                    baseline: (baseline)
                                },
                                "hAxis": {
                                    "title": "Time"
                                }
                            },
                            "formatters": {}
                        }
                    );

                    var jsonData = respData.data;
                    var iconData = JSON.parse(jsonData);
                    iconChartObjectRef.data.rows = iconData.c.map(function (c) {
                        var cRows = [
                            {
                                "v": c
                            }
                        ];
                        cRows.unshift({
                            "v": "Price"
                        });
                        return {
                            "c": cRows
                        };
                    });
                });
            };
            scope.iconChartObjects.map(function (iconChartObject) {
                iconChartObject.chart1 = {};
                iconChartObject.chart2 = {};
                iconChartObject.chart3 = {};
                iconChartObject.chart4 = {};
                returnIconChartObjects(iconChartObject,iconChartObject.chart1);
                returnIconChartObjects(iconChartObject,iconChartObject.chart2, 360);
                returnIconChartObjects(iconChartObject,iconChartObject.chart3, 60);
                returnIconChartObjects(iconChartObject,iconChartObject.chart4, 30);
            })
        });
    </script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<div>
    <div>
        <input type="number" ng-model="localStorage.expected_interested"> % expected interested
    </div>
    <div>
        <h4>Portfolio</h4>
    </div>
    <div id="portfolio">
        <div ng-repeat="portfolio_item in localStorage.portfolio">
            <input type="text" ng-model="portfolio_item.date" placeholder="new_portfolio_item_date">
            <input type="text" ng-model="portfolio_item.icon" placeholder="new_portfolio_item_icon">
            Buy at: <input type="number" ng-model="portfolio_item.price_buyAt" placeholder="price_buyAt">
<!--            <input type="number" ng-model="portfolio_item.price_soldAt" placeholder="price_soldAt">-->
            Interested: {{portfolio_item.calculateExpectedInterested}} % -
            After days: <input type="text" ng-value="portfolio_item.calculateDiffInDaysHuman">
            Sold at: <input type="text" ng-value="portfolio_item.calculateActualInterested">
        </div>
    </div>
    <hr>
    <div>
        Create new
    </div>
    <div>
        <input type="date" ng-model="new_portfolio_item_date" placeholder="new_portfolio_item_date">
        <input type="text" ng-model="new_portfolio_item_icon" placeholder="new_portfolio_item_icon">
        <input type="number" ng-model="new_portfolio_item_price" placeholder="new_portfolio_item_price">
        <button ng-click="addToPortfolio()">Submit</button>
    </div>
</div>

<div>
    <div>Market</div>
    <div>
        <div ng-repeat="iconChartObject in iconChartObjects">
            <div google-chart chart="iconChartObject.chart1" style="width:430px;float:left;"></div>
            <div google-chart chart="iconChartObject.chart2" style="width:430px;float:left;"></div>
            <div google-chart chart="iconChartObject.chart3" style="width:430px;float:left;"></div>
            <div google-chart chart="iconChartObject.chart4" style="width:430px;float:left;"></div>
        </div>
    </div>
</div>
</body>
</html>